
@font-face {
    font-family: 'Montserrat-Black';
    src: url(./Montserrat-Black.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url(./Montserrat-BlackItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}